<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
  </head>
  <body>
    <p>You're so bad at this!!! The word was {{words}}</p>
    <form action="/gameover" method="post">
      <button type="submit" name="button">Play Again</button>
    </form>
  </body>
</html>
