<!DOCTYPE html>
<html>
<head>
	<title>Dude Stop looking at my titles!</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="word-goes-here">
	The current word is {{currentWord}}
	</div>
	<div class="wrong guesses">
	Your incorrect guesses are: {{#incorrectGuesses}} {{.}} {{/incorrectGuesses}}
	</div>
	<div class="remainingGuesses">
	You have {{remainingGuesses}} remaining Guesses!
	</div>
	<form  action="/" method="post">
		<select name="selectedLetter">
		  <option value="a">A</option> 
		  <option value="b">B</option>
		  <option value="c">C</option>
		  <option value="d">D</option>
		  <option value="e">E</option>
		  <option value="f">F</option>
		  <option value="g">G</option>
		  <option value="h">H</option>
		  <option value="i">I</option>
		  <option value="j">J</option>
		  <option value="k">K</option>
		  <option value="l">L</option>
		  <option value="m">M</option>
		  <option value="n">N</option>
		  <option value="o">O</option>
		  <option value="p">P</option>
		  <option value="q">Q</option>
		  <option value="r">R</option>
		  <option value="s">S</option>
		  <option value="t">T</option>
		  <option value="u">U</option>
		  <option value="v">V</option>
		  <option value="w">W</option>
		  <option value="x">X</option>
		  <option value="y">Y</option>
		  <option value="z">Z</option>
		</select>
		<input type="submit" name="guessTracker" value="Make a Guess!">
	</form>
	<div class="mystery-word">
	</div>
</body>
</html>